@import "tailwindcss";
@import 'grapesjs/dist/css/grapes.min.css';

img[style*="text-align:center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: unset; /* убираем inline text-align */
}

img[style*="text-align:right"] {
  display: block;
  margin-left: auto;
  margin-right: 0;
  text-align: unset;
}

img[style*="text-align:left"] {
  display: block;
  margin-left: 0;
  margin-right: auto;
  text-align: unset;
}

div[role="textbox"] {
  @apply h-[277mm] ps-[20mm] py-[10mm] pe-[10mm]
}

body {
  @apply bg-gray-300;
}

.table-bordered {
  @apply border-collapse border border-gray-300;
}
